<section class="pagination-container">
  <div class="pagination-left">
    <div class="pagination-button">
      <img
        class="arrow"
        src="../../../assets/icons/square-arrow-left.svg"
        alt="arrow right"
      />
      <div class="pagination-text">Previous</div>
    </div>
  </div>
  <div class="pagination-center">
    <div class="page-number selected">1</div>
    <div class="page-number">2</div>
    <div class="page-number">3</div>
    <div class="page-number">...</div>
    <div class="page-number">8</div>
    <div class="page-number">9</div>
    <div class="page-number">10</div>
  </div>
  <div class="pagination-right">
    <div class="pagination-button">
      <div class="pagination-text">Next</div>
      <img
        class="arrow-invert"
        src="../../../assets/icons/square-arrow-left.svg"
        alt="arrow right"
      />
    </div>
  </div>
</section>
