<section class="grid">
  @for (article of recentArticles; let articleIndex = $index; track article) {
  <article [class]="'article' + '-' + articleIndex">
    <img
      class="article__img"
      [src]="article.imagen"
      alt="{{ article.titulo }}"
      loading="lazy"
    />
    <section class="article__section">
      <header class="article__content">
        <h2 class="article__header">{{ article.titulo }}</h2>
        <p class="article__text">{{ article.resumen }}</p>
        @for (tag of article.tags; track $index) {
        <span class="article-tag">{{ tag }}</span>
        }
      </header>
      <footer>
        <a
          class="article__btn"
          [routerLink]="['/article-details', article.titulo]"
          >Leer más<span>&rarr;</span></a
        >
      </footer>
    </section>
  </article>
  }
</section>
