.section-content {
  width: 100%;
  max-width: 1400px;
  margin: 24px auto;
  gap: 10px;
  padding: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 640px) {
  .section-content {
    padding: 5rem;
  }
}

@media (min-width: 768px) {
  .section-content {
    flex-direction: row;
  }
}

.text-content {
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.text-content h2 {
  margin: 0 auto 2.5rem auto;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: left;
  font-weight: 600;
}

@media (max-width: 768px) {
  .text-content > h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.image-container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .image-container {
    margin-top: 0;
  }
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
  aspect-ratio: 812/556;
}

#ong,
#community-text h1,
#community-text p {
  animation: cover-animation linear both;
  animation-timeline: view();
}
#ong-text h1,
#ong-text p,
#community {
  animation: entry-animation linear both;
  animation-timeline: view();
}
#ong {
  animation-range: entry 10% cover 40%;
}
#ong-text h1 {
  animation-range: entry 10% cover 30%;
}
#ong-text p {
  animation-range: entry 10% cover 20%;
}
#community {
  animation-range: entry 30% cover 50%;
}
#community-text h1 {
  animation-range: entry 30% cover 40%;
}
#community-text p {
  animation-range: entry 20% cover 30%;
}
@keyframes entry-animation {
  0% {
    opacity: 0;
    translate: var(--entry-animation) 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes cover-animation {
  0% {
    opacity: 0;
    translate: var(--cover-animation) 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
