<section class="section-content">
  <div id="ong-text" class="text-content">
    <h2 class="heading">{{ aboutContent[0].INTRO_TITLE }}</h2>
    @for (paragraph of aboutContent[0].INTRO_DESCRIPTION; track $index) {
    <p [innerHTML]="paragraph"></p>
    }
  </div>
  <div id="ong" class="image-container">
    <img
      class="image"
      height="500"
      [src]="aboutContent[0].INTRO_IMAGE"
      width="500"
      alt="cannabis Farm"
    />
  </div>
</section>
<section class="section-content">
  <div id="community" class="image-container">
    <img
      class="image"
      height="556"
      [src]="aboutContent[1].INTRO_IMAGE"
      width="812"
      alt="Cannabis Production"
    />
  </div>
  <div id="community-text" class="text-content">
    <h2 class="heading">{{ aboutContent[1].INTRO_TITLE }}</h2>
    @for (paragraph of aboutContent[1].INTRO_DESCRIPTION; track $index) {
    <p [innerHTML]="paragraph"></p>
    }
  </div>
</section>
