<div class="container">
  <div class="inner-container">
    <h1 class="heading" data-astro-cid-ouwpehyg="">{{ title }}</h1>
  </div>
  <img
    class="image-primary"
    ngSrc="../../../assets/images/sannar/sannar-content-insta.webp"
    alt="ESLAND cover"
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%)"
    priority
    fill
  />
  <img
    class="image-secondary"
    src="../../../assets/images/sannar/sannar-content-insta.webp"
    alt="ESLAND cover"
  />
</div>
