<div class="main-container" data-astro-cid-7qzxku2k="">
  <div class="inner-container" data-astro-cid-7qzxku2k="">
    <section class="section" data-astro-cid-7qzxku2k="">
      <h1 class="heading" data-astro-cid-7qzxku2k="">
        Acceso Seguro y Confiable al Cannabis Medicinal
      </h1>
      <p class="subtitle" data-astro-cid-7qzxku2k="">
        Transformando vidas con tratamientos naturales para la salud y el
        bienestar de humanos y animales
      </p>
      <a
        href="/vota/"
        target="_self"
        rel="noopener noreferrer"
        data-astro-cid-7qzxku2k="true"
        class="button"
      >
        Únete a nuestra comunidad
      </a>
    </section>
    <video
      autoplay
      loop
      muted
      playsinline=""
      id="main-video"
      preload="metadata"
      class="video-primary"
      data-astro-cid-7qzxku2k=""
      style="
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);
      "
    >
      <source
        src="../../../assets/images/sannar/7667044-uhd_3840_2160_30fps.mp4"
        type="video/webm"
        data-astro-cid-7qzxku2k=""
      />
      <source
        src="../../../assets/images/sannar/7667044-uhd_3840_2160_30fps.mp4"
        type="video/mp4"
        data-astro-cid-7qzxku2k=""
      />
    </video>
  </div>
  <video
    class="video-secondary"
    autoplay
    loop
    muted
    preload="metadata"
    data-astro-cid-7qzxku2k=""
  >
    <source
      src="../../../assets/images/sannar/7667044-uhd_3840_2160_30fps.mp4"
      type="video/webm"
      data-astro-cid-7qzxku2k=""
    />
    <source
      src="../../../assets/images/sannar/7667044-uhd_3840_2160_30fps.mp4"
      type="video/mp4"
      data-astro-cid-7qzxku2k=""
    />
  </video>
</div>
