<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <a routerLink="/home">
        <app-sannar-logo class="sannar-logo" />
      </a>
      <div class="social-container">
        <div class="social-links">
          <h2>Siguenos</h2>
          <ul>
            <li>
              <a href="#">Instagram</a>
            </li>
            <li>
              <a href="#">Facebook</a>
            </li>
          </ul>
        </div>
        <div class="resources">
          <h2>Recursos</h2>
          <ul>
            <li>
              <a routerLink="/contact#faq">Asociate</a>
            </li>
            <li>
              <a routerLink="/contact#faq">REPROCANN</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="divider" />
    <div class="footer-info">
      <p>
        ©2024
        <a routerLink="/home" class="footer-link">SANNAR</a>. All Rights
        Reserved.
      </p>
      <div class="social-icons">
        <a href="#" class="social-icon"
          ><img
            src="../../../assets/icons/brand-whatsapp.svg"
            alt="whatsapp"
            height="24"
            width="24"
        /></a>
        <a href="#" class="social-icon"
          ><img
            src="../../../assets/icons/brand-facebook.svg"
            alt="Facebook"
            height="24"
            width="24"
          />
        </a>
        <a href="#" class="social-icon"
          ><img
            src="../../../assets/icons/brand-instagram.svg"
            alt="Instagram"
            height="24"
            width="24"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
