<app-hero-img [title]="title" />

<section class="last-articles">
  <h2>Últimos artículos</h2>
  <app-article-grid />
</section>

<section class="categories">
  <h1>Artículos por categoria</h1>
  <div class="category-container">
    @for (category of categories; track category) {
    <button class="button-tag" (click)="onCategorySelected(category)">
      {{ category }}
    </button>
    }
  </div>
</section>

<section class="all-articles">
  <h2>Todos los artículos</h2>

  <main class="articles-section">
    @for (article of filteredArticles; track $index) {
    <app-article
      [title]="article.titulo"
      [image]="article.imagen"
      [resume]="article.resumen"
      [tags]="article.tags"
    />
    }
  </main>
  <app-pagination />
</section>
