<div class="main-container">
  <div class="inner-container">
    <section class="section">
      <h1 class="heading">{{ title }}</h1>
      <p class="subtitle">
        {{ subtitle }}
      </p>
      <a href="/login" target="_self" rel="noopener noreferrer" class="button">
        {{ button }}
      </a>
    </section>
    <video
      autoplay
      loop
      muted
      playsinline
      id="main-video"
      preload="metadata"
      class="video-primary"
      style="
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);
      "
    >
      <source
        src="../../../assets/images/sannar/7667044-uhd_3840_2160_30fps.webm"
        type="video/webm"
      />
      <source
        src="https://videos.pexels.com/video-files/7667044/7667044-hd_1280_720_30fps.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <video class="video-secondary" autoplay loop muted preload="metadata">
    <source
      src="../../../assets/images/sannar/7667044-uhd_3840_2160_30fps.webm"
      type="video/webm"
    />
    <source
      src="https://videos.pexels.com/video-files/7667044/7667044-hd_1280_720_30fps.mp4"
      type="video/mp4"
    />
  </video>
</div>
