<app-hero-img />
<main class="main-section">
  <section class="section-content">
    <div id="theater-text" class="text-content">
      <h2 class="heading">¿Por qué Sannar ONG?</h2>
      <p>
        La Fundación Sannar ONG
        <strong
          >fomenta el cultivo y la producción de cannabis para uso
          medicinal</strong
        >, con un enfoque en la sostenibilidad y la salud. Nuestro objetivo es
        <strong
          >mejorar la calidad de vida de pacientes mediante terapias basadas en
          cannabis</strong
        >. <br />Trabajamos con expertos en botánica, medicina y derecho para
        asegurar prácticas de alta calidad y legalidad, promoviendo una mayor
        aceptación del cannabis medicinal.
      </p>
      <p>
        Apoyamos a pequeños agricultores en prácticas agrícolas sostenibles,
        contribuyendo al desarrollo económico y social de las comunidades
        locales.
      </p>
    </div>
    <div id="theater" class="image-container">
      <img
        class="image"
        height="500"
        src="../../../assets/images/sannar/crystalweed-cannabis-c3oy2uiXXAM-unsplash.jpg"
        width="500"
        alt="cannabis Farm"
      />
    </div>
  </section>
  <section class="section-content">
    <div id="trophies" class="image-container">
      <img
        class="image"
        height="556"
        src="../../../assets/images/sannar/ryan-lange-BgaGKvYN9MY-unsplash.jpg"
        width="812"
        alt="Cannabis Production"
      />
    </div>
    <div id="trophies-text" class="text-content">
      <h2 class="heading">Nuestro Compromiso con la Comunidad</h2>
      <p>
        Sannar ONG crea un
        <strong
          >impacto positivo en la comunidad a través de programas de apoyo y
          colaboración</strong
        >. Proporcionamos información y recursos sobre el uso medicinal del
        cannabis y trabajamos para eliminar el estigma asociado.
      </p>
      <p>
        Alianzas con instituciones académicas y de salud nos permiten participar
        en
        <strong>investigaciones innovadoras sobre el cannabis medicinal</strong
        >. Empoderamos a pacientes y familias con alternativas terapéuticas
        seguras y promovemos políticas públicas que faciliten el acceso al
        cannabis medicinal y protejan los derechos de los usuarios.
      </p>
    </div>
  </section>
  <section class="press-kit">
    <h2 class="press-kit-title">Beneficios de ser parte de Sannar ONG</h2>
    <div class="press-kit-content">
      <article class="press-kit-item">
        <h3 class="press-kit-subtitle">Aceite cannabico</h3>
        <a class="press-kit-link" href="/contact">
          <img
            src="../../../assets/images/sannar/icons8-medical-box-64.png"
            class="press-kit-image"
            loading="lazy"
            alt="Medical Cannabis"
          />
          <span class="press-kit-download">Consultar</span>
        </a>
      </article>
      <article class="press-kit-item">
        <h3 class="press-kit-subtitle">Semillas</h3>
        <a class="press-kit-link" href="/contact">
          <img
            src="../../../assets/images/sannar/icons8-cannabis-64.png"
            class="press-kit-image"
            loading="lazy"
            alt="Cannabis flower"
          />
          <span class="press-kit-download">Consultar</span>
        </a>
      </article>
      <article class="press-kit-item">
        <h3 class="press-kit-subtitle">Flores</h3>
        <a class="press-kit-link" href="/contact">
          <img
            src="../../../assets/images/sannar/icons8-cannabis-oil-64.png"
            class="press-kit-image"
            loading="lazy"
            alt="Cannabis Oil"
          />
          <span class="press-kit-download">Consultar</span>
        </a>
      </article>
    </div>
  </section>
</main>
@defer (on timer(10s)) {
<app-about-cards />
}@placeholder {
<app-weed-loader />
}
<router-outlet />
