<section class="grow-kit">
  <h2 class="grow-kit-title">{{ growSection.GROW_SECTION_HEADER }}</h2>
  <div class="grow-kit-content">
    @for (growItem of growSection.GROW_KIT_ITEMS; track $index) {
    <article class="grow-kit-item">
      <h3 class="grow-kit-subtitle">{{ growItem.GROW_KIT_ITEM_HEADER }}</h3>
      <a class="grow-kit-link" href="/contact">
        <img
          [src]="growItem.GROW_KIT_ITEM_IMAGE"
          class="grow-kit-image"
          loading="lazy"
          alt="Medical Cannabis"
        />
        <span class="grow-kit-download">{{
          growItem.GROW_KIT_ITEM_BUTTON
        }}</span>
      </a>
    </article>
    }
  </div>
</section>
