<section class="section">
  @for (article of bentoContent; track $index;) {
  <article class="article" [ngClass]="'article-' + $index">
    <!-- Aquí van los estilos específicos para cada artículo -->
    <div class="gradient"></div>
    <div
      class="background"
      [ngClass]="'bg-color-' + $index"
      [style.background-image]="'url(' + article.BENTO_IMAGE + ')'"
    ></div>
    <div class="content">
      <h2>{{ article.BENTO_TITLE }}</h2>
      <p [innerHTML]="article.BENTO_CONTENT"></p>
    </div>
  </article>
  }
</section>
