<!--  container> items > card > card__content > card__header +__text +__button -->
<h3 class="heading">Enlaces de interes</h3>

<div class="container">
  <div class="item">
    <div class="card">
      <img
        class="card__img"
        src="../../../assets/images/sannar/crystalweed-cannabis-Qk2ORz-Dfn8-unsplash.jpg"
        alt="Green Forests"
        loading="eager"
      />
      <div class="card__content">
        <h2 class="card__header">Que es una ONG?</h2>
        <p class="card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id sem
          sit amet massa aliquet aliquet. Phasellus at ipsum congue urna commodo
          gravidas
        </p>
        <button class="card__btn">Conoce más <span>&rarr;</span></button>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="card">
      <img
        class="card__img"
        src="../../../assets/images/sannar/crystalweed-cannabis-c3oy2uiXXAM-unsplash.jpg"
        alt="Beutiful Oceans"
        loading="eager"
      />
      <div class="card__content">
        <h2 class="card__header">Qué significa REPROCANN?</h2>
        <p class="card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id sem
          sit amet massa aliquet aliquet. Phasellus at ipsum congue urna commodo
          gravida
        </p>
        <button class="card__btn">Conoce más <span>&rarr;</span></button>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="card">
      <img
        class="card__img"
        src="../../../assets/images/sannar/ahmed-zayan-4msfw7Pe1iU-unsplash.jpg"
        alt="Snowy Mountains"
        loading="eager"
      />
      <div class="card__content">
        <h2 class="card__header">Fumar / vapear</h2>
        <p class="card__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id sem
          sit amet massa aliquet aliquet. Phasellus at ipsum congue urna commodo
          gravida
        </p>
        <button class="card__btn">Conoce más <span>&rarr;</span></button>
      </div>
    </div>
  </div>
</div>
