<!--  container> items > card > card__content > card__header +__text +__button -->
<h3 class="heading">{{ aboutCards.CARD_SECTION_HEADER }}</h3>
<div class="container">
  @for (card of aboutCards.CARD_ITEM; track $index) {
  <div class="item">
    <div class="card">
      <img
        class="card__img"
        [src]="card.CARD_IMAGE"
        alt="Green Forests"
        loading="lazy"
      />
      <div class="card__content">
        <h2 class="card__header">{{ card.CARD_HEADER }}</h2>
        <p class="card__text">{{ card.CARD_CONTENT }}</p>
        <button class="card__btn">
          {{ card.CARD_BUTTON }}<span>&rarr;</span>
        </button>
      </div>
    </div>
  </div>
  }
</div>
