<section class="faq-section">
  @for (faqGroupSection of faq.FAQ_GROUP_QUESTIONS; let groupIndex = $index;
  track faq) {
  <div class="faq-group-section">
    <h2 class="faq-title">
      {{ faqGroupSection.FAQ_HEADER }}
    </h2>
    @for (faqSection of faqGroupSection.FAQ_QUESTIONS; let itemIndex = $index;
    track faqSection) {
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h3
          class="accordion-header"
          [id]="'heading' + groupIndex + '-' + itemIndex"
        >
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + groupIndex + '-' + itemIndex"
            aria-expanded="true"
            [attr.aria-controls]="'collapse' + groupIndex + '-' + itemIndex"
          >
            {{ faqSection.QUESTION_TITLE }}
          </button>
        </h3>
        <div
          [id]="'collapse' + groupIndex + '-' + itemIndex"
          class="accordion-collapse collapse"
          [attr.aria-labelledby]="'heading' + groupIndex + '-' + itemIndex"
          [attr.data-bs-parent]="'#accordionExample'"
        >
          <div class="accordion-body">
            {{ faqSection.QUESTION_DESCRIPTION }}
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  }
</section>
