.faq-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  text-align: center;
  box-sizing: border-box;
  padding: 2rem;
}

.faq-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0.2rem;
  background-color: #565656;
  color: transparent;
  text-shadow: 2px 2px 3px #00ff6a8c;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.accordion {
  filter: drop-shadow(3px 3px 8px #00000077);
  border: none;
  width: 100%; /* Puedes ajustar el valor según tus necesidades */
  max-width: 500px; /* Fija un ancho máximo para el acordeón */
  margin: 0 auto; /* Centra el acordeón en la página */
}

.accordion-button {
  font-weight: 600;
  color: #ffffff;
  background-color: #0b674e;
  border: none;
  padding: 1rem;
  text-align: left;
  width: 100%; /* Asegura que los botones del acordeón llenen todo el ancho del contenedor */
  box-sizing: border-box; /* Incluye el relleno y el borde en el cálculo del ancho total */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.accordion-button::after {
  color: #ffffff; /* Cambia el color del icono */
  transition: color 0.3s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  color: #0f9468; /* Cambia el color del icono cuando el acordeón está expandido */
}

.accordion-button:not(.collapsed) {
  background-color: #0f9468;
}

.accordion-button:focus {
  outline: none;
  box-shadow: 0 0 5px #00ff6a8c;
}

.accordion-item {
  background-color: #00fc6911;
  border: none;
  margin-bottom: 1rem;
  width: 100%; /* Asegura que los elementos del acordeón llenen todo el ancho del contenedor */
}

.accordion-body {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 1rem;
  text-align: left;
  width: 100%; /* Asegura que el cuerpo del acordeón llene todo el ancho del contenedor */
  box-sizing: border-box; /* Incluye el relleno y el borde en el cálculo del ancho total */
}

@media (max-width: 768px) {
  .faq-section {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .faq-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .accordion-button {
    font-size: 1rem;
    padding: 0.75rem;
  }

  .accordion-body {
    font-size: 0.875rem;
    padding: 0.75rem;
  }
}
