<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <a href="#">
        <app-sannar-logo class="sannar-logo" />
      </a>
      <div class="social-container">
        <div class="social-links">
          <h2>Siguenos</h2>
          <ul>
            <li>
              <a href="#">Instagram</a>
            </li>
            <li>
              <a href="#">Facebook</a>
            </li>
          </ul>
        </div>
        <div class="resources">
          <h2>Recursos</h2>
          <ul>
            <li>
              <a href="#">Asociate</a>
            </li>
            <li>
              <a href="#">REPROCANN</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="divider" />
    <div class="footer-info">
      <p>
        ©2024
        <a href="https://flowbite.com/" class="footer-link">SANNAR</a>. All
        Rights Reserved.
      </p>
      <div class="social-icons">
        <a href="#" class="social-icon"
          ><img src="../../../assets/icons/brand-whatsapp.svg" alt="whatsapp"
        /></a>
        <a href="#" class="social-icon"
          ><img src="../../../assets/icons/brand-facebook.svg" alt="Facebook" />
        </a>
        <a href="#" class="social-icon"
          ><img
            src="../../../assets/icons/brand-instagram.svg"
            alt="Instagram"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
