<section class="info-section">
  <div class="sannar-container">
    <img
      src="../../../../assets/images/sannar/sannar.jpg"
      alt=""
      class="logo-sannar"
    />
  </div>

  <h1 class="info-title">Bienvenidos/as<br />a la Fundación SANNAR</h1>
  <p>
    En SANNAR, garantizamos productos de
    <strong>cannabis de alta calidad para uso medicinal</strong>, terapéutico y
    paliativo. Desde la fabricación de bioinsumos hasta la
    <strong
      >elaboración de aceites y derivados como cremas, cosméticos y
      comestibles</strong
    >
    , controlamos cada paso del proceso.
  </p>
  <p>
    Nuestro equipo de profesionales ofrece
    <strong>asesoramiento especializado</strong> y apoyo a personas y
    organizaciones que buscan información sobre el uso terapéutico del cannabis.
  </p>
</section>
