<div class="container">
  <div class="item">
    <div class="article">
      <img
        class="article__img"
        [src]="image"
        alt="{{ title }}"
        loading="lazy"
      />
      <div class="article__content">
        <h2 class="article__header">{{ title }}</h2>
        <p class="article__text">{{ resume }}</p>
        @for (tag of tags; track $index) {
        <span class="article-tag">{{ tag }}</span>
        }
      </div>
      <a class="article__btn" [routerLink]="['/article-details', title]"
        >Leer más<span>&rarr;</span></a
      >
    </div>
  </div>
</div>
