.animation-section {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.walking-images {
  position: absolute;
  width: 100%;
  height: 100%;
}

.walking-image-1,
.walking-image-2,
.walking-image-3,
.walking-image-4,
.walking-image-5,
.walking-image-6 {
  position: absolute;
  opacity: 0;
  -webkit-animation: walk 6s linear infinite;
  animation: walk 6s linear infinite;
}

.walking-image-1 {
  left: 75px;
  top: 160px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.walking-image-2 {
  left: 360px;
  top: 30px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.walking-image-3 {
  left: 610px;
  top: 210px;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.walking-image-4 {
  left: 890px;
  top: 125px;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.walking-image-5 {
  left: 1075px;
  top: 20px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.walking-image-6 {
  left: 1250px;
  top: 180px;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.walking-image-1 img,
.walking-image-2 img,
.walking-image-3 img,
.walking-image-4 img,
.walking-image-5 img,
.walking-image-6 img {
  width: 100px;
  height: auto;
}

@-webkit-keyframes walk {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes walk {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
