<section class="animation-section">
  <div class="walking-images">
    <div class="walking-image-1">
      <img
        src="../../../assets/images/sannar/bud_3486590.webp"
        alt="Walking Image"
        width="100"
        height="100"
      />
    </div>

    <div class="walking-image-2">
      <img
        src="../../../assets/images/sannar/bud_3486590.webp"
        alt="Walking Image"
        width="100"
        height="100"
      />
    </div>

    <div class="walking-image-3">
      <img
        src="../../../assets/images/sannar/bud_3486590.webp"
        alt="Walking Image"
        width="100"
        height="100"
      />
    </div>

    <div class="walking-image-4">
      <img
        src="../../../assets/images/sannar/bud_3486590.webp"
        alt="Walking Image"
        width="100"
        height="100"
      />
    </div>

    <div class="walking-image-5">
      <img
        src="../../../assets/images/sannar/bud_3486590.webp"
        alt="Walking Image"
        width="100"
        height="100"
      />
    </div>

    <div class="walking-image-6">
      <img
        src="../../../assets/images/sannar/bud_3486590.webp"
        alt="Walking Image"
        width="100"
        height="100"
      />
    </div>
  </div>
</section>
